<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<footer class="bg-body-tertiary py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: <a href="mailto:nagger.web@gmail.com">nagger.web@gmail.com</a></p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="/about" id="about-footer-link">About</a></li>
          <li><a href="static/Privacy_Policy_Nagger.pdf">Privacy Policy</a></li>

        </ul>
      </div>
      <div class="col-md-4">
        <h5>Follow Me</h5>
        <!--<a href="#" target="_blank" class="me-2"><i class="fab fa-linkedin"></i></a>-->
        <a href="https://github.com/mrtindb" target="_blank" class="me-2"><i class="fab fa-github"></i></a>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col text-center">
        <p>&copy; 2024 Martin Dobrev. Licensed under
          <a href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">
            GNU Affero General Public License (AGPL)
            v3.0
          </a>.
          </p>
      </div>
    </div>
  </div>
</footer>